@charset "UTF-8";
body{
    background-color: rgb(185, 145, 223);
    font-family: monospace;
    font-size: 16px;
    text-align: justify;
    margin:  0px;
    padding: 10px;
    
    
    
}

h1 {
    background-color: rgb(225, 199, 240);
    padding: 1px;
    border-radius: 10px;
    text-align: center;
}
 
h2 {
    padding: 5px;
}
main {
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgb(217, 174, 236);
    padding: 10px;
}

footer {
    text-align: right;
    
}