@charset "UTF-8"; 

* {
font-family: Arial, Helvetica, sans-serif;    
/*height: 100%;*/
}

body {
    background-image: linear-gradient(#FF8C64, #FF665A);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #b34f48a4;
    width: 550px;
    padding: 20px;
    margin: auto;
}

h1{
    color:#7D6B7D ;
    text-align: center;
    text-shadow: 1px 1px 0px #574a57b6;
}

h2 {
    color: #A3A1A8;
}
p {
    text-align: justify;
}

